:root {
  --mainColor: #F0F0F0;
}


a {
  font-weight: bold;
  background:
     linear-gradient(
       to right, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-y;
    background-size: 0px 4px;
  color: var(--mainColor);
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-size .2s;
}



a:hover {
  background-size: 100% 1px;
  color: #003348;
}


body {
  
  background: #003348;
  margin: 0;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: 'Nunito', 'sans-serif';
}

.inner {
  background: #09c999;
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  height: 150px;
  clip-path: circle(10% at 50% 20%);
  transition: all .5s ease-in-out;
  cursor: pointer;
}
.inner:hover {
  clip-path: circle(75%);
  background: #00B6FF;
}
.inner h1 {
  color: white;
  font-weight: normal;
  margin: 0;
}
.inner p {
  color: white;
  font-size: .8rem;
}
.inner span {
  color: white;
  font-weight: bold;
  transition: color .5s;
  position: relative;
  display: inline-block;
  margin-top: 10px;
}
.inner:hover span {
  color: rgba(255, 255, 255, 0);
}


@keyframes color-rotate{
  from{
    filter: hue-rotate(0deg);
  }
  to{
    filter: hue-rotate(360deg);
  }
}

.name:hover {
    -webkit-animation: rainbow 10s infinite; 
    animation: rainbow 10s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  30%{color: CadetBlue;}
  50%{color: coral;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
  100%{color: orange;}
}

.toBull{
  position: absolute;
  right: 5px;
  bottom: 5px;
}

