:root {
	--navbar-text-distance: 5%;
	--navbar-text-distance-top: 30%; 
}


h1{
	font-size: 3vh;
}

html {
	font-family: "Harmonia Sans Pro Cyr";
	margin: 0px;
	font-size: .8vw;
}

a {
	text-decoration: none;
	color: inherit;
}

.select {
	font-weight: bold;
	background: linear-gradient( to right, #3e5296 0%, #3e5296 100%);
	background-position: 0 100%;
	background-repeat: repeat-y;
	background-size: 0% 4%;
	color: #3e5296;
	text-decoration: none;
	padding-left: 1%;
	padding-right: 1%;
	transition: background-size .2s;
}

.select:hover {
	background-size: 100% 1px;
	color: White;
}

body {
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	}

body {
	margin: 0px;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.navbar {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 50;
	text-align: center;
	padding-top: 2px;
	background-color: white;
	text-transform: uppercase;
	transition: all 0.3s ease;
	background-color: rgb(255, 255, 255); 
	color: gray; 
	height: 5%;
}

html:not([data-scroll='0']) {
	body {
		padding-top: 3em;
	}
	.navbar {
		position: fixed;
		top: 0;
		background-color: #fff;
		box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
	}
	.top-left {
		top: 16px;
		left: 16px;
	}
}

.navbar {
	text-decoration: none;
	transition: all 0.3s ease;
}

.navbar a:hover {
	color: darkgray;
	transition: all 0.3s ease;
}

.navbar ul li {
	display: inline-block;
	margin: 5px;
}

.parallax {
	line-height: 20px;
	color: white;
	min-height: 70%;
	background-position-y: center;
	background-position-x: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/cover.jpg');
	/*opacity: 0.65;*/
}

.seperator {
	width: 100px;
	height: 2px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: white;
	margin-bottom: 20px;
}

.black {
	background-color: black;
}

.left {
	transform: translate(0, 0);
	left: 0%;
}

.sevene {
	width: 90px;
}

.home{
	left: var(--navbar-text-distance);
}

.about{
	right: var(--navbar-text-distance);
}

.home, .about{
	top: var(--navbar-text-distance-top);
	font-size: 1.5vh;
	position: absolute;
	text-rendering: optimizeLegibility;
}

.logo{
	top: var(--navbar-text-distance-top);
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);

	width: 6vh;
}

#about{
	padding: 2% 0 5% 20%;
	width: 100%;
	background-color: white; 
	text-align: left; 
	color:black; 
	height: 20%;
}
